<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="img/favicon.png">
  <title>{{title}}</title>

  <!-- Icons -->
  <!-- <link href="../css/font-awesome.min.css" rel="stylesheet"> -->
  <!-- <link href="../css/simple-line-icons.css" rel="stylesheet"> -->

  <!-- Main styles for this application -->
  <!-- <link href="../css/style.css" rel="stylesheet"> -->

</head>
<body class="">
  <header class="navbar">
    <h3>Header</h3>
  </header>
